*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
	height: 7px;
}

::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: grey;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

body {
	height: 100vh;
	overflow: hidden;
	margin: 0px;
	display: flex;
	background: #272727;
}

.settings {
	height: 100%;
	width: 50%;
	padding: 30px 70px;
	font-family: 'Roboto', sans-serif;
	color: #e5e5e5;
}

.settings h1 {
	font-weight: 500;
}

button {
	background-color: #272727;
	border: 1px solid #6da0dd;
	border-radius: 8px;
	box-sizing: border-box;
	color: #6da0dd;
	cursor: pointer;
	display: inline-block;
	font-size: 16px;
	line-height: 20px;
	outline: none;
	padding: 8px 14px;
	text-align: center;
	text-decoration: none;
	touch-action: manipulation;
	transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s, transform 0.1s;
	user-select: none;
	-webkit-user-select: none;
	width: auto;
}

button:active {
	background-color: #363636;
	transform: scale(0.96);
}

button#apply {
	margin-left: 30px;
}

section {
	margin-top: 25px;
	width: 100%;
	/* display: inline-block; */
	float: left;
}

section .content {
	padding-top: 10px;
}

section .row {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	column-gap: 20px;
}

section * {
	font-weight: 300;
}

.types {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin-bottom: 10px;
}

.sign-type input {
	display: none;
}

.sign-type label {
	display: inline-block;
	border-radius: 10px;
	overflow: hidden;
	background: #363636;
	height: 60px;
	border: 1px solid transparent;
	cursor: pointer;
}

.sign-type input:checked + label {
	border-color: white;
}

.sign-type label img {
	height: 100%;
}

.input-wrapper {
	margin-bottom: 10px;
	/* margin-right: 20px; */
	width: 270px;
	display: flex;
	flex-direction: column;
}

section .row:last-child .input-wrapper:last-child {
	margin-bottom: 0;
}

.input-wrapper label {
	display: block;
	color: #aaaaaa;
	font-size: 90%;
	margin-bottom: 5px;
}

.input-wrapper input {
	border: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #363636;
	color: inherit;
	padding: 8px 10px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
}

.input-wrapper select {
	width: 100%;
	padding: 8px 10px;
	font-size: 18px;
	border: none;
	border-radius: 5px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: inherit;
	background: url(https://static.thenounproject.com/png/551749-200.png) center right 15px / 25px no-repeat #363636;
	cursor: pointer;
}

#preview {
	height: 100%;
	width: 50%;
	background-color: #272727;
	position: relative;
}

.buttons {
	height: 100%;
	width: 30px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	padding-left: 10px;
}

.buttons .button input {
	display: none;
}

.buttons .button label {
	display: block;
	width: 55px;
	height: 55px;
	line-height: 60px;
	text-align: center;
	border-radius: 100%;
	background-color: rgba(255, 255, 255, 0.4);
	opacity: 0.5;
	cursor: pointer;
}

.buttons .button input:checked + label {
	opacity: 1;
}

.buttons .button input:disabled + label {
	opacity: 0.25;
	cursor: not-allowed;
}

.buttons .button label::before {
	font-size: 30px;
	font-family: 'Font Awesome 5 Pro';
	font-weight: 300;
}

.buttons .button.backlight input + label::before {
	content: '\f0eb';
}

.buttons .button.backlight input:checked + label::before {
	content: '\f672';
}

.buttons .button.dimensions input + label::before {
	content: '\f31e';
}

.buttons .button.dimensions input:checked + label::before {
	content: '\f31e';
	font-weight: 600;
}

.input-wrapper .options {
	width: 250px;
	display: inline-flex;
}

.input-wrapper .options input {
	display: none;
}

.input-wrapper .options label {
	width: auto;
	font-size: 18px;
	padding: 8px 12px;
	background: #363636;
	color: #e5e5e5;
	cursor: pointer;
	margin-bottom: 0;
}

.input-wrapper .option:first-child label {
	border-radius: 5px 0 0 5px;
}

.input-wrapper .option:last-child label {
	border-radius: 0 5px 5px 0;
}

.input-wrapper .option input:checked + label {
	background: #555555;
}

section.price .content {
	width: 250px;
}

section.price table {
	width: 100%;
}

section.price table td:last-child {
	text-align: right;
}

@media only screen and (max-width: 1000px) {
	body {
		flex-direction: column-reverse;
	}

	button#apply {
		display: block;
		margin-top: 10px;
		margin-left: 0;
	}

	.settings,
	#preview {
		width: 100%;
	}

	.settings {
		height: 65vh;
		overflow-y: scroll;
		overflow-x: hidden;
		padding: 15px 20px;
		padding-bottom: 150px;
	}

	.types {
		flex-wrap: nowrap;
		overflow-x: scroll;
	}

	#preview {
		height: 35vh;
	}

	.sign-type {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 600px) {
	.input-wrapper {
		width: 100%;
		margin-right: 0;
	}
}
